[Unit]
Description=MLMOS: Tema1
           
[Service]
Type=oneshot
ExecStart=/bin/bash /home/vminea/tema1.sh
           
[Install]
WantedBy=multi-user.target